.tree_bg {  background-color: #EFF6FE}
.main_bg {  background-color: #C0CFEC}
.main_ashtree {  background-color: #ECECEC}
.main_ashtree1 {  background-color: #EBF1FA; border: #5579BA; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}
.main_ash {  background-color: #F5F5F5}
.search { background-color: #EBF1FA ; border: #5075B8; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}