.tishi_text {  font-size: 12px; color: #011F51}
.tree_text {font-size: 14px; color: #011F51; font-family: "Geneva", "Arial", "Helvetica", "san-serif"; font-weight: bold}
.login_text {  font-family: "ו"; font-size: 13px; color: #053887; text-align: center }