<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">


	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName"
			value="oracle.jdbc.driver.OracleDriver">
		</property>
		<property name="url"
			value="jdbc:oracle:thin:@localhost:1521:orcl">
		</property>
		<property name="username" value="zlz"></property>
		<property name="password" value="zlz"></property>
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		
		
		
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.Oracle9Dialect
				</prop>
			</props>
		</property>
	</bean>
	
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="userDao"
		class="com.user.dao.hibernate.UserDaoHibernate">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>

		<property name="jdbcTemplate">
			<ref bean="jdbcTemplate" />
		</property>
	</bean>
	<bean id="custDao"
		class="com.user.dao.hibernate.CustDaoHibernate">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>

		<property name="jdbcTemplate">
			<ref bean="jdbcTemplate" />
		</property>
	</bean>
	<bean id="custRecordDao"
		class="com.user.dao.hibernate.CustRecordDaoHibernate">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>

		<property name="jdbcTemplate">
			<ref bean="jdbcTemplate" />
		</property>
	</bean>
	<bean id="modelInfoDao"
		class="com.user.dao.hibernate.ModelInfoDaoHibernate">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>

		<property name="jdbcTemplate">
			<ref bean="jdbcTemplate" />
		</property>
	</bean>
	
	<bean id="userManager"
		class="com.user.service.imp.UserManagerImpl">
		<property name="userDao">
			<ref bean="userDao" />
		</property>
	</bean>
	<bean id="custManager"
		class="com.user.service.imp.CustManagerImpl">
		<property name="custDao">
			<ref bean="custDao" />
		</property>
	</bean>
	<bean id="custRecordManager"
		class="com.user.service.imp.CustRecordManagerImpl">
		<property name="custRecordDao">
			<ref bean="custRecordDao" />
		</property>
	</bean>
	<bean id="modelInfoManager"
		class="com.user.service.imp.ModelInfoManagerImpl">
		<property name="modelInfoDao">
			<ref bean="modelInfoDao" />
		</property>
	</bean>
	
	</beans>